.scanner-panel{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scanner-panel header{
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
}
.scanner-panel header *{
    display: block;
    margin-left: 10px;
}

.scanner-panel h1{
    display:inline-block;
    word-wrap: anywhere;
    max-width: 100%;
}

.active-element{
    box-shadow: 0 0 3px;
}
.active-element:hover{
    box-shadow: 0 0 6px;
    cursor: pointer;
}

.scanner-panel header .scanner-exit{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: red;
}


.option-list{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.scanner-option .option-name{
    width: 30%;
    max-width: 30%;
}
.scanner-option .option-value{
    width: 70%;
}

.scanner-option{
    width: 100%;
    display:block;
    margin: 5px;
    padding: 5px;
    background-color: green;
    border-radius: 5px;
    flex: 1;
}
.scanner-commands{
    text-align: center;
}
.scanner-commands span{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 150%;
}

.scanner-commands .option-reload{
    background-color: rgb(147, 255, 85);
}

.scanner-commands .option-reset{
    background-color: rgb(255, 85, 85);
}

.scanner-commands .scan-start{
    background-color: rgb(121, 251, 255);
}

.outer-progress-bar{
    position: relative; 
}

.scanner-panel header .progress-status{
    position: absolute;
    height: 20px;
    width: 100px;
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
    margin-left: -50px;
    margin-top: -10px;
}